/* #dee2e6 */

.headerContainer{
    width: 100;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #343a40;
}
.header-child-1{
    width: 350px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header-child-1 h1{
    color: white;
}

.header-child-2{
    font-size: 20px;
    width: 100%;
   margin-bottom:-50px ;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #dee2e6;
}
.link{
    color:#343a40 ;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    cursor: pointer;
}