/* #dee2e6 */
.headerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
   max-height: 50vh;
    background-color: #343a40;
    
}
.header-child-1{
    width: 350px;
    max-height: 25vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header-child-1 h1{
    color: white;
}

.header-child-2{
    font-size: 20px;
    width: 100%;
    margin-bottom: -25px;
    max-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #dee2e6;
}

.link{
    color:#343a40 ;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
}

.link-icon{
    color:#343a40 ;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
}
.link-icon:hover{
    font-size: 30px;
}


