body{
    width: 100%;
    display: flex;
    
    padding: 0;
    background-color: #f0f2f5;
    
}
.userCreateContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 0 50px; */
    margin-top: 30px;
    margin-bottom: 50px;
}
.userCreateContainer-child-1{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    
}
.userİnfo{
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.p{
    width: 150px;
    padding: 0;
    justify-content: left;
}
.ınp{
    width: 200px;
    height: 20px;
    outline: none;
    
}
.userCreateContainer-child-2{
    display: flex;
    justify-content: center;
    align-items: center; 
}
