

.button{
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 25px;
}
.btn{
    background-color: #343a40;
    color: white;
    outline: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}
.userContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-child-1-input{
    width: 300px;
    height: 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px;
}
.header-child-1-input:hover{
    width: 310px;
    height: 40px;  
}
.header-child-1-btn{
    font-size: 30px;
    margin:0 10px ;
    cursor: pointer;
    color: #343a40;
    background-color: transparent;
}
.header-child-1-btn:hover{
    font-size: 40px;
    transition: 0.6 ease-in-out;
}
.header-child-1{
    width: 350px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.userContainer-child-2{
    display: flex;
    flex-direction: column;
    width: 100%;
}